# ignore dot-files/-folders
.*

# project internals can be ignored
/CODEOWNERS
/CONTRIBUTING.*

# this file is part of the license
!/NOTICE

# never ignore the results - these are intended to be shipped
!/dist/

# ??? should the src/ and tests/ and build-related files be ignored?
# I think not, as TypeScript-users would love to have sources (and tests),
# so they can compile into the desired target themselves.
# Conclusion: have sources shipped, as long as they have value downstream!
