; see the docs: https://docs.npmjs.com/cli/v11/using-npm/config

; our lib has some peer deps that need to be installed.
; due to how node module resolution works, we must not install the lib as a symlink!
install-links=true
