# docs: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: Node CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:


env:
  NODE_ACTIVE_LTS: "16" # see https://nodejs.org/en/about/releases/
  REPORTS_DIR: "reports"

jobs:
  build:
    name: build ${{ matrix.target }}
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        target:
          - node
          - web
          - d
    timeout-minutes: 10
    steps:
      - name: Checkout
        # see https://github.com/actions/checkout
        uses: actions/checkout@v3
      - name: Setup Node.js ${{ env.NODE_ACTIVE_LTS }}
        # see https://github.com/actions/setup-node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_ACTIVE_LTS }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - name: setup project
        run: npm ci --ignore-scripts
      - name: build ${{ matrix.target }}
        run: npm run build:${{ matrix.target }}
      - name: artifact build result
        # see https://github.com/actions/upload-artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist.${{ matrix.target }}
          path: dist.${{ matrix.target }}
          if-no-files-found: error
  test-standard:
    name: test standard
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        # see https://github.com/actions/checkout
        uses: actions/checkout@v3
      - name: Setup Node.js ${{ env.NODE_ACTIVE_LTS }}
        # see https://github.com/actions/setup-node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_ACTIVE_LTS }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - name: setup project
        run: npm ci --ignore-scripts
      - name: make reports dir
        run: mkdir -p "$REPORTS_DIR"
      - name: test
        run: >
          npm run --
          test:standard
          --format checkstyle
          --output-file "$REPORTS_DIR/eslint.xml"
      - name: Publish Checkstyle report
        # see https://github.com/Juuxel/publish-checkstyle-report
        uses: Juuxel/publish-checkstyle-report@v1
        if: ${{ failure() || success() }}
        with:
          reports: ${{ env.REPORTS_DIR }}/eslint.xml
      - name: artifact build result
        # see https://github.com/actions/upload-artifact
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: eslint-results
          path: ${{ env.REPORTS_DIR }}
          if-no-files-found: error
  test-node:
    needs: [ 'build' ]
    name: test node (${{ matrix.node-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          # action based on https://github.com/actions/node-versions/releases
          # see also: https://nodejs.org/en/about/releases/
          - "18"      # current
          - "16"      # active LTS
          - "14"
          - "14.0.0"  # lowest supported
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        # see https://github.com/actions/checkout
        uses: actions/checkout@v3
      - name: Setup Node.js ${{ matrix.node-version }}
        # see https://github.com/actions/setup-node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - name: setup project
        run: npm ci --ignore-scripts
      - name: fetch build artifact
        # see https://github.com/actions/download-artifact
        uses: actions/download-artifact@v3
        with:
          name: dist.node
          path: dist.node
      - name: test
        run: npm run test:node
  # test-web:
    # TODO via https://github.com/CycloneDX/cyclonedx-javascript-library/issues/51
  test-declaration:
    needs: [ 'build' ]
    name: digest declarations (TS${{ matrix.typescript-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        typescript-version:
          - '^4'      # latest 4.X
          - '~4.0'    # some 4.0.x
          - '^3'      # latest 3.X
          - '3.8.2'   # some 3.8.x - lowest reasonable number that works
    env:
      EXAMPLE_DIR: examples/node-typescript
    timeout-minutes: 10
    steps:
      - name: Checkout
        # see https://github.com/actions/checkout
        uses: actions/checkout@v3
      - name: Setup Node.js ${{ env.NODE_ACTIVE_LTS }}
        # see https://github.com/actions/setup-node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_ACTIVE_LTS }}
      - name: setup project
        run: npm i --no-save 'typescript@${{ matrix.typescript-version }}'
        working-directory: ${{ env.EXAMPLE_DIR }}
      - name: fetch build artifact
        # see https://github.com/actions/download-artifact
        uses: actions/download-artifact@v3
        with:
          name: dist.d
          path: dist.d
      - name: use type declarations
        run: npm run build
        working-directory: ${{ env.EXAMPLE_DIR }}
  typedoc:
    name: typedoc ${{ matrix.target }}
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        target:
          - node
          - web
    timeout-minutes: 10
    steps:
      - name: Checkout
        # see https://github.com/actions/checkout
        uses: actions/checkout@v3
      - name: Setup Node.js ${{ env.NODE_ACTIVE_LTS }}
        # see https://github.com/actions/setup-node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_ACTIVE_LTS }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - name: setup project
        run: npm ci --ignore-scripts
      - name: typedoc ${{ matrix.target }}
        run: npm run typedoc:${{ matrix.target }}
